/** Contributions by Louisa Evola and Matthew Kovalenko **/

.grid-container {
  display: grid;
  /*background-color: #2196F3;*/
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  /*padding: 0px 10px;*/
  background-color: rgba(255, 255, 255, 0.8);
}
  .item1 { grid-area: book-image; }
  .item2 { grid-area: header-info; }
  .item3 { grid-area: rating; }
  .item4 { grid-area: book-review; }
  .item5 { grid-area: reactions; }

.post-container {
    display: grid;
    grid-template-areas:
      'book-image header-info header-info header-info header-info header-info'
      'book-image rating rating rating rating rating'
      'book-image book-review book-review book-review book-review book-review'
      'book-image reactions reactions reactions reactions reactions';
    border: solid black 2px;
    margin: auto;
    width: 60%;
    padding: 10px;
}

.post-container > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  /*text-align: center; */
  /*padding-left: 20px;*/
  font-size: 15px;


}

#outer-shell {
  display: block;
  margin: auto;      
  width: 80%;
}

#filtering {
  display: block;
  margin: auto;      
  width: 80%;
}

#search-bar {
    border: 1px solid grey;
    border-radius: 5px;
    height: 40px;
    width: 70%;
    padding: 2px 20px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
  }

.wrapper {
    padding: 30px 2px 2px 100px;
    display: block;
    margin: auto;      
    width: 70%;
}

#filtering{
    padding: 0px 2px 2px 100px;
    display: block;
    margin: auto;      
    width: 70%; 
}

#like {
  margin-top: 10px;
  padding: 4px 2px 5px 2px;
}

.fa-heart:hover{
   color:red !important;
}

#submit {
  margin: auto;
  font-size: 12px;
  padding: 5px 5px 5px 5px;
}

#err_search {
  color: crimson;
  font-style: italic;
  padding: 10px;
}