
.boxed {          
  border: 1px solid gray;
}

.grid-container {
  display: inline-grid;
}

.flex-container {
  display: flex;
  padding: 50px;
}

.flex-child {
  flex: 1;
}

.error_message {
  color: crimson;
  font-style: italic;
  padding: 10px;
}

#user{
  display: block;
  margin: auto;      
  width: 10%;
/*  padding: 30px;*/
}

#bio {
  width: 300px;
  border: solid black 2px;
  padding: 10px;
  display: block;
  margin: auto;      

}