<!DOCTYPE html>
<!-- Contributions by Louisa Evola and Matthew Kovalenko-->
<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>BookKeeper</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
      <script src="https://kit.fontawesome.com/595acf0be0.js" crossorigin="anonymous"></script>
      
  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fffbd6; height: 100px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="explore.php"><i class="fas fa-book-reader fa-3x" style="color:#53917E;"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="explore.php" aria-current="page" style="font-size: 20px;">explore</a>
          </li>
           <li class="nav-item">
            <a id="nav-link" class="nav-link" href="write_review.php" style="font-size: 20px;">write a review</a>
          </li>
        <li class="nav-item">
          <form action="navbar.php" method="post">
              <button type="submit" name="profile-link"><a class="dropdown-item">my bookshelf</a></button>
            </form>
          </li>
        </ul>
        <form action="logout.php" method="get">
          <input type="submit" value="Log out" class="btn btn-dark" />
          </form>
      </div>
    </div>
  </nav>
    <div id="person-info">
      <form action="profile.php" name="bio_form" method="post">
        <div id=user>
          <!-- <img id="profile-pic" src="../profile-pic.png" alt="" width="100" height="100"> -->
          <label for="profile-pic">username</label>
        </div>
        <div [ngStyle]="{'background-color':'lightYellow'}" id="bio" contenteditable="true" onkeyup="updateBio()">bio</div>
        <div>
          <!-- The ajax link is preventing this button from centering -->
          <button [ngStyle]="{marginLeft: '650px', marginTop: '20px', padding: '11px'}" [ngClass]="['btn', 'btn-primary']" type="submit" name="update_bio">Update</button>
          <input type="hidden" id="bio_hidden" name="bio_hidden">
        </div>
      </form>
    </div>

    <div id="bookshelf" class="flex-container">
      <div class="flex-child">
        <form action="profile.php" name="read_form" method="post">
          <h4>Books I've read</h4>
          <ul id="books_read">
            <li *ngFor="let book of booksRead">{{ book.title }} by {{ book.author }}</li>
          </ul>
          <input id="title_read" name="title_read" type="text" placeholder="Add a book"> & <input id="author_read" name="author_read" type="text" placeholder="Add author">
          <button id="add_read" name="add_read" class="btn btn-primary" type="submit">Add to list</button>
          <div><span class="error_message" id="err_read">error</span></div>
        </form>
      </div>
      <div class="flex-child">
        <h4>Books I want to read</h4>
        <form action="profile.php" method="post">
          <ul id="books_to_read">

          </ul>
        </form>
        <form action="profile.php" name="to_read_form" method="post">
          <input id="title_to_read" name="title_to_read" type="text" placeholder="Add a book"> & <input id="author_to_read" name="author_to_read" type="text" placeholder="Add author">
          <button id="add_to_read" name="add_to_read" class="btn btn-primary" type="submit">Add to listsssss</button>
          <div><span class="error_message" id="err_to_read">error2</span></div>
        </form>
      </div>
    </div>

    <p>test {{ book1.title }} </p>
    <p>user: {{ user }} </p>
    <!-- <button class="btn btn-primary"
          (click)="getUser(orderForm.value)"
          title="always enabled">Send to another PHP</button> -->
    <p>{{ booksRead }}</p>

    
    <script>
        $(function(){
          console.log("hi");
          $("#nav-placeholder").load("../prof-nav.html");
        });
    
      function updateBio() {
        //bug clears bio when hit without changing anything
        var bio = document.getElementById('bio').innerHTML;
        var hidden = document.getElementById('bio_hidden');
        hidden.value = bio;
        }
      </script>
  </body>
    
</html>